@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --header_color: rgb(244, 164, 96);
  --sharp_header_color: rgb(235, 124, 27);
  --logo_color: rgb(193, 94, 7);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --star: rgb(255, 0, 0);
  --grey_line: rgb(220, 215, 215);
  --grey_arrow: rgb(164, 162, 162);
  --grey_text: rgb(107, 103, 103);
  --mini_white: rgb(249, 244, 244);
  --transparent_white: rgba(225, 225, 225, 0.5);
  --transparent_header_color: rgba(244, 164, 96, 0.8);
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--mini_white);
}

body.no-scroll {
  overflow: hidden;
}

/* Header Section */

header {
  background-color: var(--header_color);
  height: 80px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2;
}

.hamburger {
  cursor: pointer;
  display: inline-block;
}

.hamburger > div {
  width: 30px;
  height: 3px;
  border-radius: 5px;
  background-color: var(--white);
}

.hamburger > div:first-child {
  transform: rotate(360deg) translate(0px, 0px);
  transition: 0.3s;
}

.hamburger > div:nth-child(2) {
  transition: 0.3s;
}

.hamburger > div:last-child {
  transform: rotate(0deg) translate(0px, 0px);
  transition: 0.3s;
}

.hamburger > div:not(:last-child) {
  margin-bottom: 5px;
}

.logo_container {
  margin-left: -20%;
}

.logo_container img {
  width: 70px;
}

.search_account_cart {
  display: flex;
  gap: 15px;
  align-items: center;
}

.search_container,
.account_container,
.cart_container {
  cursor: pointer;
}

.account_label {
  display: none;
}

.search_container input {
  display: none;
}

.search_account_cart i {
  font-size: 25px;
  color: var(--white);
}

.cart_container {
  position: relative;
}

.cart_container .cart_number {
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
  font-weight: bold;
  color: var(--white);
}

.cart_container .cart_label {
  display: none;
}

/* Nav Bar */

nav {
  width: 100%;
  height: calc(100vh - 80px);
  position: fixed;
  top: 80px;
  left: -100%;
  background-color: var(--white);
  transition: 0.2s;
  overflow-y: auto;
  z-index: 2;
}

nav ul {
  list-style: none;
}

nav .products,
nav .solutions {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-weight: bold;
  padding: 30px 20px;
  color: var(--grey_text);
  border-bottom: 1px solid var(--header_color);
}

nav .all_products,
nav .all_solutions {
  padding: 30px 40px 0px;
  border-bottom: 1px solid var(--header_color);
  display: none;
}

nav .inner_products,
nav .inner_solutions {
  border-bottom: none;
  padding: 0px;
}

nav .product_head,
nav .solution_head {
  color: var(--grey_text);
  font-weight: bold;
  padding-bottom: 30px;
}

nav .product_body,
nav .solution_body {
  padding: 0px 30px 30px;
  display: none;
}

nav ul li.barren_link {
  padding: 30px 20px;
  border-bottom: 1px solid var(--header_color);
  font-weight: bold;
}

nav ul li.barren_link a {
  text-decoration: none;
  color: var(--grey_text);
}

nav ul div p.arrow i {
  color: var(--grey_arrow);
}

nav ul > li > div:last-child a {
  display: block;
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}

nav ul > li > div:last-child a:not(:last-child) {
  margin-bottom: 30px;
}

nav .products:hover + .all_products,
nav .solutions:hover + .all_solutions,
nav .product_head:hover + .product_body,
nav .solution_head:hover + .solution_body,
nav .all_products:hover,
nav .all_solutions:hover,
nav .product_body:hover,
nav .solution_body:hover {
  display: block;
}

/* Main Content */

main {
  margin-top: 80px;
}

.mobile_search_container {
  background-color: var(--header_color);
  padding-bottom: 20px;
  display: none;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 2;
}

.mobile_search_container .search_container {
  background-color: var(--white);
  width: 80%;
  display: flex;
  justify-content: end;
  border-radius: 10px;
  margin: 0px auto;
}

.mobile_search_container .search_container input {
  display: inline;
  border: none;
  outline: none;
  width: 100%;
  font-size: 17px;
  padding: 5px 20px;
  border-radius: 5px;
}

.mobile_search_container .search_container i {
  background-color: var(--logo_color);
  color: var(--white);
  padding: 10px;
  border-radius: 0px 5px 5px 0px;
  font-size: 20px;
}

/* Main Body */

.user_account {
  background-color: var(--white);
  position: fixed;
  top: 80px;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.login_sign_up_wrapper {
  overflow: hidden;
  height: calc(100vh - 80px);
}

.user_account .login {
  height: calc(100vh - 80px);
  position: relative;
  left: 0%;
  z-index: 1;
}

.user_account .sign_up {
  height: 100%;
  position: relative;
  top: -100%;
  left: 100%;
}

.user_account .account_pointer {
  position: fixed;
  font-size: 40px;
  top: -37px;
  right: 52px;
  color: var(--white);
}

.user_account_heading {
  padding: 50px 0px 0px;
  text-align: center;
}

.user_account_heading h3 {
  color: var(--header_color);
  margin-bottom: 10px;
  font-size: 20px;
}

.user_account_heading h4 {
  color: var(--grey_text);
  font-size: 14px;
  margin-bottom: 30px;
}

.user_account form {
  margin: 0px 20px;
}

.user_account form .label_input {
  position: relative;
}

.user_account form input {
  width: 100%;
  margin-bottom: 15px;
  padding: 15px 15px 5px;
  font-size: 17px;
  border: none;
  border-radius: 3px;
  outline: 2px solid var(--grey_line);
  color: var(--header_color);
}

.user_account form label {
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 17px;
  color: var(--grey_text);
  transition: 0.2s ease-in-out;
  pointer-events: none;
}

.user_account form input:focus {
  outline: 2px solid var(--header_color);
  border: none;
}

.user_account form input:focus + label,
.user_account form input:not(:placeholder-shown) + label {
  top: 3px;
  font-size: 12px;
}

.user_account form button {
  width: 100%;
  background-color: var(--header_color);
  color: var(--white);
  padding: 12px 0px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.user_account form button:hover {
  background-color: var(--transparent_header_color);
  transition: 0.5s;
}

.new_customer {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 20%;
}

.new_customer span:last-child {
  color: var(--header_color);
  cursor: pointer;
}

/* Hero Section */

/*  Gallery Begins */

#gallery2 {
  width: calc(100% - 40px);
  height: 50vw;
  margin: 100px 20px 0px;
  position: relative;
  border-radius: 10px;
}

.albom2 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* z-index: 1; */
  border-radius: 10px;
}

#play_pause2 {
  position: absolute;
  background-image: url("/images/img6.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  top: 5%;
  left: 2%;
  z-index: 1;
  cursor: pointer;
}

.caption_holder2 {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 20%;
  z-index: 1;
}

p#caption_text2 {
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 15px;
  width: 100%;
  text-align: center;
}

.image_holder2 {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.image_holder2 img {
  width: 100%;
  height: 100%;
}

.text2 {
  opacity: 0;
}

#gallery2 span {
  width: 13px;
  height: 13px;
  background-color: var(--transparent_white);
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

#gallery2 span.active2 {
  background-color: var(--white);
}

#gallery2 span:not(:first-child) {
  margin-left: 7px;
}

#dot-wrapper2 {
  margin: 0px auto;
  position: absolute;
  top: 86%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#left {
  left: 2%;
}

#right {
  right: 2%;
}

#left,
#right {
  position: absolute;
  top: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  color: white;
  background-color: var(--transparent_white);
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

#left i,
#right i {
  display: block;
  font-size: 25px;
}

/* This moves current slide to the left */

.present_slide_go_left2 {
  animation-name: present_go_left2;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes present_go_left2 {
  from {
    opacity: 1;
    margin-left: 0;
  }

  to {
    opacity: 1;
    margin-left: -100%;
  }
}

/* This brings next slide to the left */

.future_slide_come_left2 {
  animation-name: future_come_left2;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes future_come_left2 {
  from {
    opacity: 1;
    margin-left: 100%;
  }

  to {
    opacity: 1;
    margin-left: 0%;
  }
}

/* This moves current slide to the right */

.present_slide_go_right2 {
  animation-name: present_go_right2;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes present_go_right2 {
  from {
    opacity: 1;
    margin-left: 0%;
  }

  to {
    opacity: 1;
    margin-left: 100%;
  }
}

/* This brings next slide to the right */

.future_slide_come_right2 {
  animation-name: future_come_right2;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes future_come_right2 {
  from {
    opacity: 1;
    margin-left: -100%;
  }

  to {
    opacity: 1;
    margin-left: 0%;
  }
}

/*  Caption Text Animation */

.animate2 {
  animation-name: to_animate2;
  animation-duration: 1.3s;
}

@keyframes to_animate2 {
  from {
    opacity: 0;
    margin-top: -18px;
  }

  to {
    margin-top: 0;
    opacity: 1;
  }
}

/*  Gallery Ends */

.hero_cta {
  margin: 30px 20px;
}

.hero_cta .heading {
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
}

.hero_cta #animation {
  font-size: 20px;
  font-weight: 500;
  height: 20px;
}

.hero_cta a {
  color: var(--white);
  background-color: var(--header_color);
  margin-top: 30px;
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.hero_cta a:hover {
  background-color: var(--transparent_header_color);
  transition: 0.5s;
}

.oem_summery_head {
  margin: 30px 20px 10px;
  color: var(--sharp_header_color);
  font-size: 20px;
  font-weight: 500;
}

/* OEM Carousel Start */

.oem_slider {
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  margin: 0px 20px;
}

.slide-track {
  display: flex;
  width: calc(250px * 60);
  animation: scroll 700s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(calc(-250px * 63));
  }
}

.oem_slide {
  display: flex;
  align-items: center;
}

.oem_slide:not(:last-child) {
  margin-left: 50px;
}

.oem_slider img {
  width: 150px;
}

.reduce_slide img {
  width: 100px;
}

.little_enlarge_slide img {
  width: 200px;
}

.enlarge_slide img {
  width: 300px;
}

/* OEM Carourel Ends */

/* Brief About */

.brief_about_head {
  font-size: 25px;
  font-weight: 500;
  margin: 30px 20px 20px;
}

.brief_about_body {
  margin: 0px 20px;
}

.brief_about_img_wrapper img {
  width: 100%;
  border-radius: 10px;
}

.brief_about_description {
  color: var(--grey_text);
  line-height: 27px;
  margin-top: 20px;
}

.brief_about a {
  text-decoration: none;
  border: 2px solid var(--header_color);
  color: var(--sharp_header_color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  display: block;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px 0px;
  text-align: center;
  border-radius: 50px;
}

.brief_about a:hover {
  background-color: var(--header_color);
  color: var(--white);
  transition: 0.3s;
  animation: bounce_more_about_us 1.2s infinite;
}

@keyframes bounce_more_about_us {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
}

.brief_about a span {
  margin-right: 10px;
}

/* Why Choose Us */

.why_us {
  margin-top: 50px;
  padding: 50px 20px;
  background-color: var(--header_color);
}

.why_us_heading {
  font-size: 30px;
  text-align: center;
  color: var(--mini_white);
  font-weight: bold;
}

.why_us_sub_heading {
  margin: 10px 0px 20px;
  color: var(--white);
  text-align: center;
  font-weight: bold;
}

.each_why {
  background-color: var(--mini_white);
  padding: 30px 20px;
  border-radius: 10px;
}

.each_why:not(:last-child) {
  margin-bottom: 20px;
}

.why_picture img {
  width: 100px;
}

.why_picture img.reduce_image {
  width: 80px;
}

.why_picture img.good_price {
  border-radius: 50%;
}

.why_text h3 {
  margin: 20px 0px 7px;
}

.why_text p {
  line-height: 27px;
}

/* Whatsapp Chat */

.whatsapp_chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  animation: bounce_whatsapp_chat 0.8s infinite;
}

@keyframes bounce_whatsapp_chat {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
}

.whatsapp_chat a {
  display: flex;
  column-gap: 10px;
  align-items: center;
  text-decoration: none;
  color: var(--black);
}

.whatsapp_text {
  background-color: #1ac10e;
  color: var(--white);
  font-size: 15px;
  font-weight: bold;
  height: fit-content;
  padding: 5px 10px;
  border-radius: 10px;
}

.whatsapp_chat img {
  width: 50px;
}

/* Footer Section */

.testimonial {
  position: relative;
  padding-bottom: 80px;
  margin: 50px 20px 0px;
  overflow: hidden;
  z-index: 0;
  border-bottom: 1px solid var(--grey_line);
}

.testimonial .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 15px;
  height: 100%;
  width: 100%;
}

.testimonial .image {
  text-align: center;
  position: relative;
  color: #eb7c1b;
  margin: 0px;
}

.testimonial .oem_icon_2 {
  position: absolute;
  bottom: -10px;
  right: -5px;
  background-color: var(--mini_white);
  border-radius: 20px;
  width: 20px;
}

.testimonial .image i {
  font-size: 30px;
}

.slide .details {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: center;
  margin: 0px;
}

.details .name,
.testimonial_details p:first-child {
  font-weight: bold;
  color: var(--sharp_header_color);
}

.details .job,
.testimonial_details p:last-child {
  color: var(--grey_text);
  font-size: 14px;
}

.swiper-pagination {
  margin-bottom: 20px;
}

.swiper-pagination-bullet {
  background-color: var(--grey_text);
}

.swiper-pagination-bullet-active {
  background-color: var(--header_color);
}

.other_device_testimonials {
  display: none;
}

.quick_links {
  margin: 0px 20px;
  cursor: pointer;
  font-size: 14px;
}

.quick_links .about_us,
.quick_links .offices,
.quick_links .main_menu {
  margin-bottom: 0px;
  border-bottom: 1px solid var(--grey_line);
  transition: 1s ease-in-out;
}

.quick_links .about_us.open,
.quick_links .offices.open,
.quick_links .main_menu.open {
  padding-bottom: 20px;
}

.quick_links .about_us_head,
.quick_links .offices_head,
.quick_links .main_menu_head {
  padding: 15px 0px;
  color: var(--sharp_header_color);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.quick_links .plus_minus {
  font-size: 20px;
  position: relative;
  width: 20px;
  height: 30px;
}

.quick_links .plus_minus div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quick_links .plus_minus .about_us_plus.open,
.quick_links .plus_minus .offices_plus.open,
.quick_links .plus_minus .main_menu_plus.open {
  display: none;
}

.quick_links .about_us_body,
.quick_links .offices_body,
.quick_links .main_menu_body {
  max-height: 0px;
  line-height: 25px;
  overflow: hidden;
  color: var(--grey_text);
  transition: 1s;
  margin: -10px 20px 0px 0px;
}

.quick_links .office_title {
  font-weight: bold;
  text-transform: uppercase;
}

.quick_links .each_offices:not(:last-child) {
  margin-bottom: 10px;
}

.quick_links .main_menu ul {
  list-style: none;
}

.quick_links .main_menu a {
  text-decoration: none;
  color: var(--grey_text);
  line-height: 30px;
}

.news_letter {
  margin: 30px 0px;
}

.news_letter_head {
  color: var(--sharp_header_color);
  font-weight: bold;
}

.news_letter_body p {
  font-size: 15px;
  color: var(--grey_text);
  margin: 20px 20px 20px 0px;
}

.news_letter_form .label_input {
  position: relative;
}

.news_letter_form input {
  width: 100%;
  margin-bottom: 15px;
  padding: 15px 15px 5px;
  font-size: 17px;
  border: none;
  border-radius: 3px;
  outline: 2px solid var(--grey_line);
  color: var(--header_color);
}

.news_letter_form label {
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 15px;
  color: var(--grey_text);
  transition: 0.2s ease-in-out;
  pointer-events: none;
}

.news_letter_form input:focus {
  outline: 2px solid var(--header_color);
  border: none;
}

.news_letter_form input:focus + label,
.news_letter_form input:not(:placeholder-shown) + label {
  top: 3px;
  font-size: 12px;
}

.news_letter_form button {
  /* width: 100%; */
  background-color: var(--header_color);
  color: var(--white);
  padding: 12px 25px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.news_letter_form button:hover {
  background-color: var(--transparent_header_color);
  transition: 0.5s;
}

.copywrite {
  color: var(--grey_text);
  text-align: center;
  margin: 50px 0px 30px;
}

.copywrite span {
  font-size: 18px;
}

/* Contact Page */

.contact_heading {
  border-bottom: 2px solid var(--header_color);
  padding: 20px 0px;
  color: var(--header_color);
}

.main_body_content .contact_form {
  margin: 30px 10px;
  padding: 30px 0px;
  background-color: var(--white);
  color: var(--grey_text);
  border-radius: 5px;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1), 5px 0 10px rgba(0, 0, 0, 0.1),
    0 5px 10px rgba(0, 0, 0, 0.1);
}

.main_body_content .contact_form h4 {
  padding: 0px 20px 20px;
  border-bottom: 2px solid var(--grey_line);
  color: var(--grey_text);
  line-height: 22px;
}

.main_body_content .contact_form .each_data {
  margin: 50px 20px 0px;
}

.main_body_content .contact_form .data_name {
  margin-bottom: 20px;
}

.main_body_content .contact_form .name_data_fields {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.main_body_content .contact_form .star {
  color: var(--star);
  font-size: 20px;
  margin-left: 5px;
}

.main_body_content .contact_form input,
.main_body_content .contact_form textarea {
  width: 100%;
  padding: 7px;
  font-size: 17px;
  border: none;
  border-radius: 3px;
  outline: 2px solid var(--grey_line);
  color: var(--header_color);
}

.main_body_content .contact_form input:focus,
.main_body_content .contact_form textarea:focus {
  outline: 2px solid var(--header_color);
  border: none;
}

.main_body_content .contact_form label {
  font-size: 12px;
  display: inline-block;
  margin-top: 10px;
}

.main_body_content .contact_form textarea {
  height: 200px;
  resize: none;
}

.main_body_content .contact_form .submit_data {
  margin-top: 30px;
  padding: 30px 20px 0px;
  border-top: 2px solid var(--grey_line);
}

.main_body_content .contact_form .submit_data button {
  width: 100%;
  background-color: var(--header_color);
  color: var(--white);
  padding: 12px 0px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.main_body_content .contact_form .submit_data button:hover {
  background-color: var(--transparent_header_color);
  transition: 0.5s;
}

/* OEMs & Partners Page */

.main_body_content .oem_head {
  padding: 50px 0px;
}

.oem_head .oem_title {
  background-color: var(--header_color);
  color: var(--mini_white);
  width: fit-content;
  padding: 10px 20px;
  margin-bottom: 30px;
  border-radius: 5px;
}

.oem_head h1 {
  line-height: 50px;
  margin-bottom: 20px;
}

.oem_head p {
  line-height: 25px;
  font-size: 18px;
}

.oem_body {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.oem_body .each_oem {
  margin: 0px auto;
  width: 100%;
  height: 300px;
  transition: 0.3s ease;
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1), 5px 0 10px rgba(0, 0, 0, 0.1),
    0 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.oem_body .each_oem:hover {
  margin-top: -5px;
}

.oem_body .oem_logo {
  width: 130px;
}

.oem_body img {
  width: 100%;
}

.oem_body .oem_description {
  margin-top: 10px;
  columns: var(--grey_text);
  line-height: 27px;
}

.oem_body .more_oem {
  position: absolute;
  bottom: 10%;
}

.oem_body .more_oem a {
  text-decoration: none;
  background-color: var(--header_color);
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--mini_white);
}

/* Large Mobile View */
@media only screen and (min-width: 500px) {
  .oem_body .each_oem {
    height: 250px;
  }
}

/* Tablet View */

@media only screen and (min-width: 700px) {
  header {
    height: 100px;
  }

  .logo_container {
    margin-left: -5%;
  }

  .search_account_cart {
    width: 70%;
  }

  .search_container {
    background-color: var(--white);
    width: 80%;
    display: flex;
    justify-content: end;
    border-radius: 10px;
  }

  .search_container input {
    display: inline;
    border: none;
    outline: none;
    width: 100%;
    font-size: 17px;
    padding: 5px 20px;
    border-radius: 5px 0px 0px 5px;
  }

  .search_container i {
    color: var(--white);
    background-color: var(--logo_color);
    padding: 12px 17px;
    font-size: 22px;
    border-radius: 0px 5px 5px 0px;
  }

  nav {
    top: 100px;
  }

  .user_account {
    top: 100px;
    width: 300px;
    right: 40px;
    height: 70vh;
    border-radius: 0px 0px 7px 7px;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2), 5px 0 10px rgba(0, 0, 0, 0.2),
      0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .user_account .login {
    height: 70vh;
  }

  .user_account .sign_up {
    height: 70vh;
    top: calc(-70vh);
  }

  .user_account_heading {
    padding: 30px 0px 0px;
  }

  .user_account .account_pointer {
    position: absolute;
    font-size: 40px;
    top: -35px;
    left: 77%;
    color: var(--white);
  }

  .new_customer {
    width: 100%;
    text-align: center;
    bottom: 5%;
  }

  main .main_body_content {
    margin: 110px 0px 20px;
  }

  /* Home Page Carousel */

  #dot-wrapper2 span:hover {
    background-color: var(--white);
  }

  /* Brief About US */

  .brief_about a {
    padding: 12px 0px;
    font-size: 17px;
    width: 400px;
    margin: 20px auto 0px;
  }

  /* Home Page Testimonials */

  .testimonial {
    display: none;
  }

  .other_device_testimonial_wrapper {
    margin: 50px 20px;
    padding-bottom: 50px;
    border-bottom: 1px solid var(--grey_line);
  }

  .other_device_testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 10vw;
    margin: 0px auto;
    width: fit-content;
  }

  .each_testimonial {
    display: flex;
    column-gap: 20px;
    align-items: start;
    width: 280px;
  }

  .testimonial_icon {
    color: #eb7c1b;
    font-size: 30px;
  }

  .each_testimonial .secured_icon {
    position: relative;
    width: fit-content;
  }

  .each_testimonial .secured_icon img {
    position: absolute;
    bottom: -10px;
    right: -5px;
    background-color: var(--mini_white);
    border-radius: 20px;
    width: 20px;
  }

  .testimonial_details p:first-child {
    margin-bottom: 5px;
  }

  .quick_links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    cursor: text;
  }

  .quick_links .about_us,
  .quick_links .offices,
  .quick_links .main_menu {
    /* margin-bottom: 0px; */
    border-bottom: none;
    /* transition: 1s ease-in-out; */
  }

  .quick_links .plus_minus {
    display: none;
  }

  .quick_links .about_us_body,
  .quick_links .offices_body,
  .quick_links .main_menu_body {
    max-height: 500px;
  }

  .news_letter {
    margin: 20px 0px 0px;
  }

  /* OEM & Partners Page */

  .oem_body {
    gap: 20px;
  }

  .oem_body .each_oem {
    width: calc(50% - 10px);
    height: 300px;
  }
}

/* User Account For Other Tablet Views */

@media only screen and (min-width: 800px) {
  .logo_container {
    margin-left: -10%;
  }

  .user_account .account_pointer {
    left: 72%;
  }

  /* Contact Page */

  .main_body_content .contact_form {
    width: 750px;
    margin: 30px auto;
  }

  .main_body_content .contact_form .each_data {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 50px 50px 0px;
  }

  .main_body_content .contact_form .submit_data button {
    width: 300px;
    display: block;
    margin: auto;
  }
}

@media only screen and (min-width: 920px) {
  .user_account .account_pointer {
    left: 68%;
  }
}

/* Laptop View */

@media only screen and (min-width: 1000px) {
  header {
    height: 120px;
    padding: 0px 50px;
  }

  .hamburger {
    display: none;
  }

  .logo_container {
    margin-left: 0%;
  }

  .logo_container img {
    width: 100px;
  }

  .search_account_cart {
    width: 90%;
    justify-content: center;
    gap: 20px;
  }

  nav {
    left: 0%;
    top: 120px;
    height: auto;
  }

  nav > ul {
    display: flex;
    width: fit-content;
    margin: auto;
    padding: 0px;
  }

  nav > ul div,
  nav > ul li.barren_link {
    border-bottom: none;
  }

  nav .products,
  nav .solutions {
    justify-content: flex-start;
    gap: 10px;
    width: fit-content;
    margin: 0px;
    border-bottom: none;
    padding-left: 0px;
  }

  nav .products {
    margin-right: 20px;
  }

  nav > ul li {
    margin: 0px 0px 0px 0px;
  }

  nav > ul li.barren_link {
    height: fit-content;
    margin: 0px;
  }

  nav .all_products,
  nav .all_solutions {
    position: relative;
    left: 0px;
    padding: 0px;
  }

  nav .all_products .inner_products,
  nav .all_solutions .inner_solutions {
    position: fixed;
    background-color: var(--white);
    margin: 0px;
    padding: 0px 0px 0px 30px;
  }

  nav .all_products .inner_products {
    width: 250px;
  }

  nav .all_solutions .inner_solutions {
    width: 330px;
  }

  nav .each_inner_products,
  nav .inner_products,
  nav .all_products {
    overflow: visible;
  }

  nav .product_body,
  nav .solution_body {
    background-color: var(--white);
    position: absolute;
    width: 300px;
    top: 0px;
    left: 100%;
  }

  nav .products:hover + .all_products,
  nav .solutions:hover + .all_solutions,
  nav .all_products:hover,
  nav .all_solutions:hover {
    opacity: 1;
    visibility: visible;
  }

  .user_account {
    border-radius: 7px 7px 7px 7px;
  }

  .user_account .account_pointer {
    left: 62%;
  }

  main .main_body_content {
    margin: 200px 0px 20px;
  }

  /* Carousel */

  #gallery2 {
    height: 30vw;
    margin: 230px 50px 0px;
    width: calc(100% - 100px);
  }

  p#caption_text2 {
    font-size: 20px;
  }

  .hero_cta {
    text-align: center;
  }

  .hero_cta a {
    font-size: 20px;
    padding: 15px 50px;
  }

  /* OEM Slider Section */

  .oem_summery_head {
    margin: 30px 50px 10px;
  }

  .oem_slider {
    margin: 0px 50px;
  }

  /* Brief About Us */

  .brief_about_head {
    text-align: right;
    margin-right: 250px;
  }

  .brief_about_body {
    display: flex;
    margin: 0px 50px;
  }

  .brief_about_img_wrapper img {
    width: calc(50vw - 50px);
    margin-right: 50px;
  }

  .brief_about_description {
    margin-top: 0px;
  }

  /* Why Choose Us */

  .why_us {
    /* margin-top: 50px; */
    padding: 70px 50px;
  }

  .all_whys {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .each_why:not(:last-child) {
    margin-bottom: 0px;
  }

  /* Whatsapp Chat */

  .whatsapp_chat {
    right: 50px;
  }

  .other_device_testimonial_wrapper {
    margin: 100px 50px 50px;
  }

  .quick_links {
    margin: 0px 50px;
    grid-gap: 20px 50px;
    cursor: text;
  }

  .copywrite {
    margin: 100px 0px 50px;
  }
}

/* User Account For Other Laptop Views */

@media only screen and (min-width: 1100px) {
  .user_account .account_pointer {
    left: 57%;
  }

  /* OEM & Partners Page */

  .oem_body {
    gap: 20px;
  }

  .oem_body .each_oem {
    width: calc(32.5% - 10px);
  }
}

/* Desktop View */

@media only screen and (min-width: 1300px) {
  header {
    /* height: 120px; */
    padding: 0px 0px 0px 70px;
  }

  .search_container {
    width: 60%;
  }

  .account_container {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 30px;
    border-right: 1px solid var(--white);
  }

  .account_label {
    display: block;
    text-align: center;
  }

  .login_sign_up {
    color: var(--logo_color);
    font-weight: bold;
    font-size: 13.5px;
  }

  .my_account {
    color: var(--white);
    font-weight: bold;
    font-size: 17px;
  }

  .account_container .account_icon i {
    font-size: 27px;
  }

  .cart_container {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .cart_container .cart_label {
    color: var(--white);
  }

  .cart_container i {
    font-size: 30px;
  }

  .user_account {
    right: 12%;
  }

  .user_account .account_pointer {
    left: 50%;
  }

  main .main_body_content {
    margin: 200px 0px 20px;
  }

  #gallery2 {
    height: 30vw;
    margin: 230px 70px 0px;
    width: calc(100% - 140px);
  }

  .oem_summery_head {
    margin: 30px 70px 10px;
  }

  .oem_slider {
    margin: 0px 70px;
  }

  /* Brief About Us */

  .brief_about_head {
    margin-right: 300px;
  }

  .brief_about_body {
    margin: 0px 70px;
  }

  .brief_about a {
    /* padding: 12px 0px;
    font-size: 17px; */
    width: 100%;
    margin: 30px auto 0px;
  }

  /* Why Choose Us */

  .why_us {
    /* margin-top: 50px; */
    padding: 70px;
  }

  .all_whys {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* Whatsapp Chat */

  .whatsapp_chat {
    right: 70px;
  }

  .other_device_testimonials {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0px 2vw;
  }

  .quick_links {
    grid-template-columns: 1.15fr 1.15fr 0.55fr 1.15fr;
    margin: 0px 70px;
  }

  /* OEM & Partners Page */

  .oem_head,
  .oem_body {
    margin: 0px 100px;
  }
}
